@font-face {
    font-family: FuturaLight; /* Имя шрифта */
    src: url(fonts/FuturaPTLight.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: FuturaDemi; /* Имя шрифта */
    src: url(fonts/FuturaPTDemi.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: FuturaMedium; /* Имя шрифта */
    src: url(fonts/FuturaPTMedium.otf); /* Путь к файлу со шрифтом */
}
.FuturaDemi{
	font-family: FuturaDemi;
}
.FuturaLight{
	font-family: FuturaLight;
}
.FuturaMedium{
	font-family: FuturaMedium;
}



/*MY STATIC STYLE*/
.color-white{
	color: white;
	/*color: black;*/
}
.color-gray{
	color: #3d3d3d;
}
.color-dark{
	color: #212529;
}
.fsize-title-h1{
	font-size: 5rem;
	color: #212529;
}
.fsize-desc-p{
	font-size: 1.3rem;
}
.cursor{
	cursor: pointer;
}
/*MY STATIC STYLE*/

.sizelogo{
	font-size: 2rem;
}
.sizeImgBlock{
	width: 100%;
	height: 70vh;
	background-image: url('https://static.tildacdn.com/tild3164-3862-4064-b634-393730356366/___7.jpg');
	background-size: cover;
	background-position: center;
}
.bg-clr{
	background-color: #e8e8e8;
}
@media (max-width: 575px)
{
	.showImg{
		background-image: url('https://static.tildacdn.com/tild3164-3862-4064-b634-393730356366/___7.jpg');
		background-size: cover;
		background-position: center;
		color: white;
	}
	.fsize-title-h1{
		font-size: 5rem;
		color: white;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.fsize-menu{
		font-size: 0.77rem;
	}
}
.headerMyStyle{
	background: #000;
}
#testcoll{
	height: 100vh;
	z-index: 100;
	transition: 0.5s;
}

.MyDesBtn{
    width: auto;
    background-color: #1da646;
    border-radius: 20px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    content: '1s';
}